{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Laden" %}{% endblock %}

{% block content %}

    <form class="d-flex">
      <h2>Artikel:&nbsp;</h2>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>

    <hr>

    <table class="table table-striped" cellspacing="0" >
    <thead>
    <th>Name</th>
    <th>Gruppe</th>
    <th>Lieferant</th>
    <th>Marke</th>
    <th>Herkunft</th>
    </thead>
    {% for e in article_list %}
        {% include "inc_stock.html" with e=e %}
    {% endfor %}
    </table>

{% endblock %}