{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Order Overview" %}{% endblock %}

{% block content %}
    <h2>{% trans "Alle Bestellungen" %}</h2>
            <table class="table table-striped" cellspacing="0">
            <thead>
                <th scope="col">{% trans "Benutzer" %}</th>
                <th scope="col">{% trans "Gesamtgewicht" %}</th>
                <th scope="col">{% trans "Gesamtpreis" %}</th>
            </thead>
    {% for o in orders %}
        <tr>
            <td>{{ o.user }}</td>
            <td>{{ o.total_weight | floatformat:2 }}</td>
            <td>&euro; {{ o.total_price | floatformat:2 }}</td>
        </tr>
    {% endfor  %}
            </table>
        {% trans "Gesamtgewicht:" %} {{ total_weight | floatformat:2 }} <br>
        {% trans "Gesamtpreis:" %} {{ total_price | floatformat:2 }} <br>


        {% for be in user_basket.basketelement_set.all %}
            {% include "inc_basket.html" with e=be %}
        {% endfor %}
        </table>
    <br>
    {% trans "Gesamtgewicht:" %} {{ user_basket.total_weight | floatformat:2 }} <br>
    {% trans "Gesamtpreis:" %} {{ user_basket.total_price | floatformat:2 }} <br>
    <a href="{% url 'set_order' %}">{% trans "Bestellen" %}</a>
    
{% endblock %}