{% extends 'base.html' %}
{% load i18n static %}

{% block title %}Order Overview{% endblock %}

{% block content %}

    <h1>Hi {{ user.username }}!</h1>

    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'home' %}">Home</a></p>

    <h2>Alle Bestellung</h2>
            <table cellspacing="0">
            <thead>
                <th>Benutzer</th>
                <th>Gesamtgewicht</th>
                <th>Gesamtpreis</th>
            </thead>
    {% for o in orders %}
        <tr>
            <td>{{ o.user }}</td>
            <td>{{ o.total_weight | floatformat:2 }}</td>
            <td>{{ o.total_price | floatformat:2 }}</td>
        </tr>
    {% endfor  %}
            </table>
        {% trans "Gesamtgewicht:" %} {{ total_weight | floatformat:2 }} <br>
        {% trans "Gesamtpreis:" %} {{ total_price | floatformat:2 }} <br>


        {% for be in user_basket.basketelement_set.all %}
            {% include "inc_basket.html" with e=be %}
        {% endfor %}
        </table>
    <br>
    {% trans "Gesamtgewicht:" %} {{ user_basket.total_weight | floatformat:2 }} <br>
    {% trans "Gesamtpreis:" %} {{ user_basket.total_price | floatformat:2 }} <br>
    <a href="{% url 'set_order' %}">{% trans "Bestellen" %}</a>

    <h2>Artikel verfügbar</h2>
    <table cellspacing="0" >
    <thead>
    <th>Name</th>
    <th>Gruppe</th>
    <th>Lieferant</th>
    <th>Marke</th>
    <th>Herkunft</th>
    </thead>
    {% for e in article_list %}
        {% include "inc_stock.html" with e=e %}
    {% endfor %}
    </table>

{% endblock %}